/definitions/npm/fuzzaldrin-plus_*/**/* @reyronald

/definitions/npm/papaparse_*/**/* @GAntoine

/definitions/npm/ramda_*/**/* @LoganBarnett

/definitions/npm/react-apollo_*/**/* @jedwards1211 @thymikee @rasmusprentow @bwlt @TLadd @budde377

/definitions/npm/react-navigation_*/**/* @Ashoat

/definitions/npm/sequelize_*/**/* @jedwards1211

