{
  "ignore": [
    "__mocks__",
    "__tests__"
  ],
  "plugins": [
    "transform-flow-strip-types",
    "transform-regenerator",
    "syntax-async-functions",
    "transform-object-rest-spread",
    "syntax-trailing-function-commas"
  ],
  "presets": [
    "es2015",
  ],
}
