{
  "parser": "babel-eslint",
  "env": {
    "es6": true
  },
  "plugins": ["flowtype"],
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype"
  ],
  "globals": {},
  "rules": {
    "eqeqeq": [2, "smart"],
    "semi": 2,
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_.?.?$",
        "argsIgnorePattern": "^_.*$"
      }
    ]
  }
}
