{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true
  },
  "plugins": ["flowtype", "fb-flow"],
  "extends": [
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {},
  "rules": {
    "eqeqeq": ["error", "smart"],
    "semi": "error",
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_.?.?$",
        "argsIgnorePattern": "^_.*$"
      }
    ],
    "fb-flow/use-indexed-access-type": "warn"
  }
}
