{
  "parser": "babel-eslint",
  "plugins": ["flowtype", "fb-flow"],
  "rules": {
    "flowtype/no-weak-types": "warn",
    "fb-flow/use-indexed-access-type": "warn",
    "no-warning-comments": [
      "error",
      {
        "terms": ["flow-typed signature", "flow-typed version"],
        "location": "start"
      }
    ]
  }
}
